<div class="modal fade" id="search" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">

        <button class="close" data-dismiss="modal">x</button>

      </div>

      <div class="modal-body" id="id_search">

        
      </div>

      <div class="modal-footer">

      </div>


    </div>
  </div>
</div>
</div>