<% if current_user %>

<div id="current_user" style="display:none;"><%= current_user.id %></div>

<%= render "layouts/templates" %>
<div class="row">

  <div id="left-sidebar" class="col-md-4">
    <div id="left-sidebar-inner">
    <div id="current_user_container">
    </div>
    <div id="add_watchlist">
      <div id="add_watchlist-inner">
        <%= image_tag("new_watchlist.png") %>
      </div>
      <p>Drag a post here to add it to your watchlist</p>
    </div>
    <div id="trash">
      <div id="trash-inner">
        <%= image_tag("trash.png") %>
      </div>
          <p>Drag a watchlisted item here to delete it</p>
    </div>
  </div>
  </div>

  <div id="post-area" class="col-md-8">
    <div class="row">
      <div class="col-md-12">
            <div id="form_container"></div>
      </div>
    </div>
     <div class="row">
      <div class="col-md-12">
        <div id="posts">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="watchlists_holder">
         <div id="watchlists" class="clearfix">
        </div>
        </div>
      </div>
    </div>
  </div>

</div>

<% end %>

