<% if current_user %>
<%= render "layouts/templates" %>
<div class="row">

  <div id="left-sidebar" class="col-md-3">
    <p><%= current_user.name %></p>
  </div>

  <div id="post-area" class="col-md-9">
     <div class="row">
      <div class="col-md-12">
        <div id="posts">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="watchlists">
        </div>
      </div>
    </div>
  </div>

</div>

<% end %>

