<% if current_user %>

<div id="posts">
</div>

<div id="post_list">
</div>


 
</script>

<script id="post_form_view" type="text/x-handlebars-template">
  <input type="text" placeholder="Message" id="post_message">
  <select id="item_itemtype">
  </select>
  <input type="text" placeholder="Name" id="item_name">
  <input type="text" placeholder="URL" id="item_url">
  <button id="post_submit_button">Submit</button>
</script>

<%= current_user.name %>
<h1>Welcome</h1>



<% end %>

