<% if current_user %>

<%= render "layouts/templates" %>
<div class="row">
<div id="posts">
</div>
</div>

<div class="row">
<div id='watchlists'>
</div>
</div>

<%= current_user.name %>
<h1>Welcome</h1>

<% end %>

