body, h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica";
}

body {
  font-size: 16px;
}

.container.main {
  margin-top: 100px;
}

.navbar-inverse {
  background-color: #f7f7f7;
  border-color: #f7f7f7;
}

.navbar-inverse .navbar-brand {
  color: #000;

}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #000;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #000;
}

.navbar-inverse .navbar-nav > li > a {
  color: #000;
}

.eachpost {
  box-shadow: 0 0 5px #EDEBEB;
  margin: 20px 0;
  padding: 15px;
  border-radius: 4px;
  position: relative;
}

.eachpost h2 {
  margin: 0 0 12px 0;
}

.category {
  position: absolute;
  top:0;
  right:0;
  padding:4px 10px;
  background: #f7f7f7;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.eachwatchlist {
  box-shadow: 0 0 5px red;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.eachpost .editing .edit {
  display: block;
  width: 444px;
  padding: 13px 15px 14px 20px;
  margin: 0;
}
.eachpost .editing .view {
  display: none;
}

input, textarea, select{
  width: 100%;
  padding: 8px;
  font-size: 14px;
  margin: 8px 0;
  border: 1px solid #EDEBEB;
  border-radius: 4px;
}

textarea {
  height: 60px;
}

#search_form {
  margin: 10px 15px 0 0;
}

input#search_field {
  width: 150px;
}

.user-numbers {
  text-align: center;
  padding: 5px 0;
}

.middle {
  border-right:1px solid #EDEBEB;
  border-left:1px solid #EDEBEB;
}

.user-numbers-container {
  background: #f7f7f7;
  border-radius: 4px;
}

#form_container_inner {
  padding: 10px;
  background: #f7f7f7;
  border-radius: 4px;
  border: 1px solid #EDEBEB;
  margin: 0 0 20px 0;
}

#current_user_container {
  margin: 0 0 30px 0;
}

.btn {
  text-shadow: 1px 1px 1px #000;
}