h1, h2, h3, h4, h5, h6 {
 /* font-family: 'Patrick Hand', cursive;*/
 font-family: 'Oxygen', sans-serif;
 font-weight:bold;
}

body {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  background: #fff;
}

#logo {
  margin: 10px 0;
}

#logo img {
  width: 220px;
}

.container.main {
  margin-top: 50px;
  margin-bottom: 50px;
}

.navbar-inverse {
  background-color: #fff;
  border-color: #fff;
  padding: 10px 0 0 0;
}

.navbar.navbar-inverse .container {
  padding: 0 50px;
}

.navbar-inverse .navbar-brand {
  color: #000;

}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #000;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #000;
}

.navbar-inverse .navbar-nav > li > a {
  color: #000;
}

#posts, #watchlists {
  padding: 20px;
  border-radius: 4px;
  background: #fff;
  overflow: auto;
}

.eachpost {
  margin: 0 0 40px 0;
  height: 200px;
  padding: 45px 10px 10px 30px;
  position: relative;
  background: url("/assets/paper.png") no-repeat;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 18px
}

.eachwatchlist {
  font-size: 14px;
  font-family: 'Oxygen', sans-serif;
  width: 33%;
  float: left;
}

.eachwatchlist-inner {
  margin: 10px 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.eachwatchlist h3 {
  font-family: 'Oxygen', sans-serif;
}

.eachpost h3 {
  margin: 0 0 12px 0;
  font-family: 'Oxygen', sans-serif;
}

.eachpost button, .eachwatchlist button {
  font-size: 22px;
  width:35px;
  height: 35px;
}

.category {
  position: absolute;
  top:-10px;
  right:60px;
  padding:18px 0 0 0;
  font-size: 20px;
  font-weight: bold;
  text-align:center;
  color: #fff;
  text-shadow: 2px 2px 0px #000;
  width: 180px;
  height: 63px;
  text-transform: uppercase;
  background: url("/assets/tape.png") no-repeat;
  font-family: 'Oxygen', sans-serif;
}

.post-delete-link, .post-watchlist-link {
  position: absolute;
  bottom: 25px;
  right: 25px;
  font-size: 24px;
}

.watchlist-delete-link {
  font-size: 16px;
  float:right;
}

a.destroy {
  color: #ccc;
}

a.watch {
  color: #000;
}

a.destroy:hover {
  color: #ff0000;
  cursor:pointer;
}

a.watch:hover {
  color: green;
  cursor: pointer;
}

.eachpost .editing .edit {
  display: block;
  width: 444px;
  padding: 13px 15px 14px 20px;
  margin: 0;
}
.eachpost .editing .view {
  display: none;
}

input, textarea, select{
  width: 100%;
  padding: 3px;
  font-size: 14px;
  margin: 8px 0;
  border: 1px solid #EDEBEB;
  border-radius: 3px;
}

textarea {
  height: 60px;
}

#search_form {
  margin: 10px 15px 0 0;
}

input#search_field {
  width: 150px;
}

.user-numbers {
  text-align: center;
  padding: 5px 0;
}

.middle {
border-right:1px solid #EDEBEB;
  border-left:1px solid #EDEBEB;
}

.user-numbers-container {
  background: #f7f7f7;
  border-radius: 3px;
}

#form_container_inner {
  padding: 10px;
  background: #f7f7f7;
  border-radius: 3px;
  border: 1px solid #EDEBEB;
  margin: 0 0 20px 0;
}

#current_user_container {
  margin: 0 0 30px 0;
}

.btn {
  border-radius: 3px;
  box-shadow: 2px 2px #000;
}

.btn:active {
  position: relative;
  top: 2px;
  left: 2px;
}

.user-info img {
  border-radius: 3px;
  border: 3px solid #EDEBEB;
  height: 150px;
  width: 150px;
}

.user-info {
  text-align: center;
}

#post-area {
  padding-left: 50px;
}

.number {
  font-size: 24px;
}

.user-numbers-container {
  margin-bottom: 20px;
  overflow: auto;
}

.user-numbers {
  width: 33%;
  float:left;
}

#search_container {
  float: right;
}

@media (max-width: 768px) {
  #search_container {
    float: none;
    margin: 0 auto;
    width: 228px;
  }
  .container.main {
    margin-top: 20px;
  }
}

