<script id="currentuserpostview" type="text/x-underscore-template" class="col-sm-3">
<div class="category">
{{= item_category}}
</div>
<h2>{{=item_name}} </h2>
<p>{{= user_name }} says: "{{= message}}"</p>

<p>Link: <a href={{= item_url}}>{{=item_name}}</a></p>
{{ if ( Hubbub.currentuser.attributes.user_id === user_id )  {   }}

<div class="post-delete-link"><a class='destroy'><i class="fa fa-times"></i></a></div>

{{  }else{  }}

<div class="post-watchlist-link"><a class='watch'><i class="fa fa-plus"></i></a></div>

{{   }  }}
</script>

<script id="userpostview" type="text/x-underscore-template" class="col-sm-3">
<div class="category">
{{= item_category}}
</div>
<h2>{{=item_name}} </h2>
<p>{{= user_name }} says: "{{= message}}"</p>

<p>Link: <a href={{= item_url}}>{{=item_name}}</a></p>
</script>


<script id="userview" type="text/x-underscore-template" class="col-sm-3">
<div class="row">
  <div class="col-md-12 user-info">
    {{ if (avatar_url.avatar_url.url == "default.png") { }}
    <p style="text-align:center"><img src="assets/default.png" /></p> 
    {{ } else { }}
    <p style="text-align:center"><img src="{{= avatar_url.avatar_url.url }}" /></p> 
    {{ } }}
    <h2>{{= name}}</h2>
    <p>{{= username}}</p>

    <div class="col-md-12 user-numbers-container">
      <div class="col-md-4 user-numbers">Posts<br> <span class="number">{{= posts}}</span></div>
      <div class="col-md-4 user-numbers middle">Followers<br> <span class="number">{{= followers}}</span></div>
      <div class="col-md-4 user-numbers">Following<br> <span class="number">{{= followed_users}}</span></div>
    </div>
  </div>
</div>
</script>

<script id="currentuserview" type="text/x-underscore-template" class="col-sm-3">
<div class="row">
  <div class="col-md-12 user-info">
    {{ if (avatar_url.avatar_url.url == "default.png") { }}
    <p style="text-align:center"><img src="assets/default.png" /></p> 
    {{ } else { }}
    <p style="text-align:center"><img src="{{= avatar_url.avatar_url.url }}" /></p> 
    {{ } }}
    <h2>{{= name}}</h2>
    <p>{{= username}}</p>

    <div class="col-md-12 user-numbers-container">
      <div class="col-md-4 user-numbers">Posts<br> {{= posts}}</div>
      <div class="col-md-4 user-numbers middle">Followers<br> {{= followers}}</div>
      <div class="col-md-4 user-numbers">Following<br> {{= followed_users}}</div>
    </div>
    
    <a href="/#/watchlist">My Watchlist</a><br>
    <a href="/#/posts">My Posts</a><br>
    <a href="/#">All Posts</a>
  </div>
</div>
</script>


<script id="post_form_view" type="text/x-underscore-template">
  <h3>Post a Recommendation</h3>
  <div id="form_container_inner">
  <input type="text" placeholder="What would you like to recommend?" id="item_name">
  <textarea placeholder="Why are you recommending it?" id="post_message" maxlength="70"></textarea>
  <select id="item_itemtype">
  <option value="">Choose the category...</option> //this needs a validation
  <option value="Restaurant">Restaurant</option>
  <option value="Book">Book</option>
  <option value="Movie">Movie</option>
  <option value="TV Show">TV Show</option>
  <option value="Product">Product</option>
  <option value="Link">Link</option>
  <option value="Article">Article</option>
  </select>
  <input type="text" placeholder="URL" id="item_url">
  <button class="btn btn-inverse btn-sm" id="post_submit_button">Submit</button>
  </div>
</script>


<script id="search_view" type="text/x-underscore-template">
  <input type="text" placeholder="search term" id="search_field">
  <a href="#search" class="btn btn-default btn-sm" id="search_submit" data-toggle="modal">Search</a>
</script>


<script id="watchlistview" type="text/x-underscore-template" class="col-sm-3">
<div class="category">{{= item_category}}</div>
<h2>{{=item_name}} </h2>
<p>{{= user_name}} says: "{{= message}}"</p>
<p>Link: <a href={{= item_url}}>{{=item_name}}</a></p>
<div class="post-delete-link"><a class='destroy'><i class="fa fa-times"></i></a></div>
</script>

<script id="search_results" type"text/x-underscore-template">
<div class="user_search_data" data-id="{{= user_id}}">
<h3>{{= name}}</h3>
<p>{{= username}}
<div class="row">
  <div class="col-md-3">Posts: {{= posts}}</a></div>
  <div class="col-md-3">Followers: {{= followers}}</div>
  <div class="col-md-3">Following: {{= followed_users}}</div>
</div>
</div>

{{ var id_array = Hubbub.currentuser.attributes.followed_ids }}

{{ if (Hubbub.currentuser.attributes.user_id == user_id)  }}

{{ else if ( id_array.indexOf(user_id) != -1 )  {   }}

 <button class="unfollow btn btn-danger btn-sm">Unfollow</button>

{{  }else{  }}

  <button class="follow btn btn-primary btn-sm">Follow</button>

{{   }  }}

</script>